@import url("https://use.typekit.net/juy7bti.css");
.beth__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.beth__flex img {
  /* height: 312px; */
  width: 50%;
}
.beth a {
  color: #f96c5a;
}

.beth p,
.beth__subhead {
  font-family: "Playfair Dispaly", serif;
  line-height: normal;
  font-size: 18px;
  text-indent: 0;
  max-width: 100%;
  font-weight: 400;
}

.beth h2 {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  color: #bbb;
  position: relative;
  display: inline;
}
.beth h2::after {
  background-color: #f96c5a;
  content: "";
  position: absolute;
  top: 39%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  height: 5px;
}

.beth__line {
  border-color: #f96c5a;
}

.beth__subp {
  margin-bottom: 12px;
}
